<div class="container pt-5">
  <div class="row">
    <div class="col">
      <img src={{character.image}}>
    </div>
    <div class="col">
      <span class="fw-bold">Name:</span><br> <input type="text"
      class="form-control" id="status" [(ngModel)]="currentChar.name"><br>
      <span class="fw-bold">Status:</span><br> <input type="text"
      class="form-control" id="status" [(ngModel)]="currentChar.status"><br>
      <span class="fw-bold">Especie:</span><br> <input type="text"
      class="form-control" id="status" [(ngModel)]="currentChar.species"><br>
      <span class="fw-bold">Genero:</span><br> <input type="text"
      class="form-control" id="status" [(ngModel)]="currentChar.gender"><br>
      <span class="fw-bold">image:</span><br> <input type="text"
      class="form-control" id="status" [(ngModel)]="currentChar.image"><br>
    </div>

  </div>
  <div class="row">
      <button class="btn btn-danger mt-2" (click)="delChar()">Delete</button>
      <button class="btn btn-success mt-2" (click)="updateChar()">Edit</button>

  </div>
</div>


<p>

</p>
